@{
    ViewData["Title"] = "Produkty";
}

<h1 class="display-6 text-center">Dostępne produkty</h1>
			<div class="row">
				<div class="d-flex justify-content-center flex-wrap align-items-center">
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
					<div class="card" style="width: 18rem;">
						<img src="https://images.pexels.com/photos/716398/pexels-photo-716398.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Produkt</h5>
							<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam lacinia porta hendrerit. Nullam iaculis ligula ac semper consectetur.</p>
							<a href="#" class="btn btn-danger">Zamów</a>
						</div>
					</div>
				</div>
			</div>